Services/Integracao/HBSIS.MercadoLes.Integracao.SapBrf/Service References/IntegracaoCutOffWebService/SI_RET_TRANSPORTE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://www.hbsis.com.br/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_RET_TRANSPORTE" targetNamespace="http://www.hbsis.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_RET_TRANSPORTE" />
  <wsdl:types>
    <xsd:schema xmlns="http://www.hbsis.com.br/" targetNamespace="http://www.hbsis.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="FMT_ENVIO_Fault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="standard" type="p1:ExchangeFaultData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MT_RET_TRANSPORTE" type="p1:DT_RET_TRANSPORTE" />
      <xsd:element name="MT_RET_TRANSPORTE_Response" type="p1:DT_RET_TRANSPORTE_Response" />
      <xsd:complexType name="ExchangeLogData">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">ace747c450cb11e5c9b400000147fe36</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="severity" type="xsd:string" />
          <xsd:element name="text" type="xsd:string" />
          <xsd:element minOccurs="0" name="url" type="xsd:string" />
          <xsd:element minOccurs="0" name="id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_RET_TRANSPORTE_Response">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">1f74dfbf024311e6c85900000147fe36</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="E_RETORNO">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ea3bf64a50dd11e5bdc3641c67763b74</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="TP_MES" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">ea3b794650dd11e58f09641c67763b74</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MESSAGE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">ea3b794850dd11e5a389641c67763b74</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExchangeFaultData">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">acc34cbf50cb11e5917100000147fe36</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="faultText" type="xsd:string" />
          <xsd:element minOccurs="0" name="faultUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="faultDetail" type="p1:ExchangeLogData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_RET_TRANSPORTE">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">29eec17e0c7c11e698d500000147fe36</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="I_MAPA">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ea3bf64a50dd11e5bdc3641c67763b74</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="FATURA" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">768824745bd511e5a7dd641c67763b74</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="TRANSPORTE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">ea3b794450dd11e58bb9641c67763b74</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="DT_ENTREGA" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">ea3b794650dd11e58f09641c67763b74</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="HR_ENTREGA" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">ea3b794850dd11e5a389641c67763b74</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_RET_TRANSPORTE">
    <wsdl:documentation />
    <wsdl:part name="MT_RET_TRANSPORTE" element="p1:MT_RET_TRANSPORTE" />
  </wsdl:message>
  <wsdl:message name="MT_RET_TRANSPORTE_Response">
    <wsdl:documentation />
    <wsdl:part name="MT_RET_TRANSPORTE_Response" element="p1:MT_RET_TRANSPORTE_Response" />
  </wsdl:message>
  <wsdl:message name="FMT_ENVIO_Fault">
    <wsdl:documentation />
    <wsdl:part name="FMT_ENVIO_Fault" element="p1:FMT_ENVIO_Fault" />
  </wsdl:message>
  <wsdl:portType name="SI_RET_TRANSPORTE">
    <wsdl:documentation />
    <wsdl:operation name="SI_RET_TRANSPORTE">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_RET_TRANSPORTE" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_RET_TRANSPORTE" />
      <wsdl:output message="p1:MT_RET_TRANSPORTE_Response" />
      <wsdl:fault name="FMT_ENVIO_Fault" message="p1:FMT_ENVIO_Fault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_RET_TRANSPORTEBinding" type="p1:SI_RET_TRANSPORTE">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_RET_TRANSPORTE">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
      <wsdl:fault name="FMT_ENVIO_Fault">
        <fault use="literal" name="FMT_ENVIO_Fault" namespace="" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_RET_TRANSPORTEService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_RET_TRANSPORTEBinding">
      <address location="http://spouxp2q:50400/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_HB_SIS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_RET_TRANSPORTE&amp;interfaceNamespace=http%3A%2F%2Fwww.hbsis.com.br%2F" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_RET_TRANSPORTEBinding">
      <address location="https://spouxp2q:50401/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_HB_SIS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_RET_TRANSPORTE&amp;interfaceNamespace=http%3A%2F%2Fwww.hbsis.com.br%2F" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>